.ace_gutter-cell.gitc-removed {
    background-color: rgba(255, 0, 0, 0.2);
	color: rgba(255, 0, 0, 0.8);
}

.ace_marker-layer .gitc-removed {
  background: #fcc;
  left: 0 !important;
  position: absolute;
  width: 5px !important;
}

.ace_gutter-cell.gitc-added {
    background-color: rgba(0, 255, 0, 0.2);
	color: rgba(0, 180, 0, 0.8);
}

.ace_marker-layer .gitc-added {
  background: #cfc;
  left: 0 !important;
  position: absolute;
  width: 5px !important;
}

.ace_gutter-cell.gitc-changed {
    background-color: rgba(0, 0, 255, 0.2);
	color: rgba(0, 0, 255, 0.8);
}

.ace_marker-layer .gitc-changed {
  background: #ccf;
  left: 0 !important;
  position: absolute;
  width: 5px !important;
}

.gitc-tooltip {
	background: #ff0;
    display: none;
	height: 18px;
    padding: 2px;
    position: absolute;
    text-align: center;
}

.ace_gutter-cell:hover .gitc-tooltip {
    display: block;
}

.gitc-added .gitc-tooltip {
    background: rgb(0, 255, 0);
    color: black;
}

.gitc-changed .gitc-tooltip {
	background: rgb(0, 0, 255);
    color: black;
}

.gitc-removed .gitc-tooltip {
	background: rgb(255, 0, 0);
    color: black;
}

.ace_gutter {
    overflow: visible;
}

.ace_gutter .ace_layer {
    overflow: visible;
}