.ace_gutter-cell.gitc-removed {
    background-color: rgba(255, 0, 0, 0.2);
	color: rgba(255, 0, 0, 0.8);
}

.ace_marker-layer .gitc-removed {
  background: #fcc;
  left: 0 !important;
  position: absolute;
  width: 5px !important;
}

.ace_gutter-cell.gitc-added {
    background-color: rgba(0, 255, 0, 0.2);
	color: rgba(0, 180, 0, 0.8);
}

.ace_marker-layer .gitc-added {
  background: #cfc;
  left: 0 !important;
  position: absolute;
  width: 5px !important;
}

.ace_gutter-cell.gitc-changed {
    background-color: rgba(0, 0, 255, 0.2);
	color: rgba(0, 0, 255, 0.8);
}

.ace_marker-layer .gitc-changed {
  background: #ccf;
  left: 0 !important;
  position: absolute;
  width: 5px !important;
}

.gitc-tooltip {
	background: #ff0;
	border: 1px solid #888;
    display: none;
	font-family: "Sans-Serif";
	font-size: 10px;
	left: 37px;
	margin-top: -8px;
    padding: 4px;
    position: absolute;
	text-align: left;
}

.gitc-tooltip p {
	margin: 0;
	padding: 0;
}

.ace_gutter-cell:hover .gitc-tooltip {
    display: block;
}

.gitc-added .gitc-tooltip {
    background: #cfc;
    color: #0f0;
}

.gitc-changed .gitc-tooltip {
	background: #ccf;
    color: #00f;
}

.gitc-removed .gitc-tooltip {
	background: #fcc;
    color: #f00;
}

.ace_gutter {
    overflow: visible;
}

.ace_gutter .ace_layer {
    overflow: visible;
}