.ace_marker-layer .gitc-diff-deleted {
  background: #fcc;
  position: absolute;
}

.ace_marker-layer .gitc-diff-added {
  background: #cfc;
  position: absolute;
}

.ace_marker-layer .gitc-diff-modified {
  background: #ccf;
  position: absolute;
}

.ace_gutter-cell.gitc-removed {
    background-color: rgb(255, 0, 0);
    color: rgba(255, 0, 0, 0.8);
    height: 2px;
}

.ace_marker-layer .gitc-removed {
  background: #fcc;
  left: 0 !important;
  position: absolute;
  width: 5px !important;
}

.ace_gutter-cell.gitc-added {
    background-color: rgba(0, 255, 0, 0.2);
	color: rgba(0, 180, 0, 0.8);
}

.ace_marker-layer .gitc-added {
  background: #afa;
  left: 0 !important;
  position: absolute;
  width: 5px !important;
}

.ace_gutter-cell.gitc-changed {
    background-color: rgba(0, 0, 255, 0.2);
	color: rgba(0, 0, 255, 0.8);
}

.ace_marker-layer .gitc-changed {
  background: #aaf;
  left: 0 !important;
  position: absolute;
  width: 5px !important;
}

.ace_marker-layer .gitc-removed {
  background: #faa;
  left: 0 !important;
  position: absolute;
  width: 5px !important;
  margin-top: -8px;
}

.gitc-tooltip {
	background: #FFF500;
	border: 1px solid #888;
	font-family: "Sans-Serif";
	font-size: 10px;
    padding: 2px;
    position: absolute;
	text-align: left;
}

.gitc-tooltip p {
	margin: 0;
	padding: 0;
}

.gitc-tooltip p.gitc-commit-revert {
    padding-top: 3px;
}

.gitc-tooltip p a {
	background: #bbb;
	border: 1px solid #888;
	padding: 1px 2px;
	color: #000;
}

.ace_gutter-cell:hover .gitc-tooltip {
    display: block;
}

.gitc-added .gitc-tooltip {
    background: #cfc;
    color: rgba(0, 180, 0, 0.8);
}

.gitc-changed .gitc-tooltip {
	background: #ccf;
    color: #00f;
}

.gitc-removed .gitc-tooltip {
	background: #fcc;
    color: #f00;
}

.ace_gutter {
    overflow: visible;
}

.ace_gutter .ace_layer {
    overflow: visible;
}

.mnubtn.gitc .icon {
  background-image:url(static/ext/gitc/images/gitc.png);
}
